*{
    margin:0px;
    padding:0;
    box-sizing:border-box;
}

body{
    background: #B2BD7E;
}
header{
    background: #5D4A66;
    padding:15px;
}

header >h1{
    color: s#E9D985;
    text-align: center;
    font-family:Gill Sans, sans-serif;
}
.scoreboard{

    border: 3px solid white;
    width:200px;
    margin:20px auto;
    text-align: center;
    color:white;
    font-size:50px;
    border-radius: 20px;
    padding:10px ;
    font-family:Gill Sans, sans-serif;
    position: relative;

}

.badge{
    background: #6A5D7B;
    font-family:Gill Sans, sans-serif; 
    color: white;
    font-size: 20px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top:25px;
    left:-25px;
}

#bot-label {
    position: absolute;
    top:25px;
    right:-25px;
}

.result{
    font-family:Gill Sans, sans-serif;
    color: white;
    font-size: 40px;
}

.result>p{
    text-align: center;
    font-weight: bold;
    color:black;
    padding:20px;
}

.round{
    font-family:Gill Sans, sans-serif;
    color: white;
    font-size: 20px;
}

.round>p{
    text-align: center;
    font-weight: bold;
    color:black;
    padding:20px;
}
.choices {
    text-align: center;
    margin: 40px 0;
}


.choice{
    display: inline-block;
    padding: 10px;
    margin:0 10px;
    border: 10px solid #749C75;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor: pointer;
    background: #749C75;
    padding: 20px;

}

#choices-names{
    color: black;
    word-spacing: 40px;
    text-align: center;
    font-family:Gill Sans, sans-serif;
    font-size: 20px;
    font-weight: bolder;
}
    

#prompt-message{
    padding-top: 40px;
    color: black;
    text-align: center;
    font-family:Gill Sans, sans-serif;
    font-size: 40px;
    font-weight: bolder;
}

.green-glow{
    border: 10px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
    padding: 20px;
}

.red-glow{
    border: 10px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
    padding: 20px;
}

.grey-glow{
    border: 10px solid #464647;
    box-shadow: 0 0 10px #25292b;
    padding: 20px;
}
.reset-button{
    border: 10px solid #749C75;
    border-radius: 50%;
    color: black;
    text-align: center;
    font-family:Gill Sans, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin:10px;
    padding: 10px;
    transition: all 0.3s ease;
    background: #B2BD7E;
}

.reset-button:hover{
    cursor: pointer;
    background: #749C75;
    padding: 15px;

}

.about{
    font-family:Gill Sans, sans-serif;
    color: white;
    font-size: 20px;
}

.about>p{
    text-align: center;
    font-weight: bold;
    color:black;
    padding:20px;
    line-height: 200%;
}